.Interact {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top:240px;
  padding: 0 $padding-global;
  @media screen and (max-width: 600px) {
    padding: 0;
    margin-top: 120px;
  }
  .left {
    width: 50%;
    padding-right: 70px;
    box-sizing: border-box;
    @media screen and (max-width: 1130px) {
      width: 100%;
      padding: 0;
    }
    @media screen and (max-width: 600px) {
      padding: 0 $padding-global-min;
    }
    .desc {
      @media screen and (max-width: 1130px) {
        max-width: 100%;
      }
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      max-width: 480px;
      line-height: 1.5;
      color: #212d32;
      margin-top: 67px;
      margin-bottom:60px;
    }
    .screen-control {
      margin: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1130px) and (min-width: 1000px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }
      .last {
        @media screen and (max-width: 1130px) {
          margin-right: -20px;
        }
      }
      a {
        display: inline-block;
        line-height: 42px;
        padding: 0 20px;
        margin-left:-20px;
        transition: background .3s ease;
        font-size: 15px;
        color: #6484c2;
        border-radius: 4px;
        text-decoration: none;
        margin-bottom: 5px;
        &.act {
          background-color: #E5ECF6;
        }
      }
    }
  }
  .right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (max-width: 1130px) {
      position: relative;
      width: 100%;
    }
    .item {
      width: 100%;
      border-radius: 6px;
      background-color: #EBF1F3;
      padding-left: 80px;
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity .3s ease;
      opacity: 0;
      pointer-events: none;
      box-sizing: border-box;
      @media screen and (max-width: 1130px) {
        padding-left: 0;
        margin-top: 50px;
        position: relative;
        background-color: transparent;
        display: none;
      }
      &.act {
        display: block;
        opacity: 1;
        pointer-events: auto;
      }
      img {
        margin-top:-60px;
        width: 100%;
        @media screen and (max-width: 1130px) {
          margin-top: 0px;
        }
      }
      .text {
        font-size: 15px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding-right:60px;
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 1.6;
        color: #596a72;
        @media screen and (max-width: 1130px) {
          color: #212d32;
          padding-right: 0;
        }
        @media screen and (max-width: 600px) {
          padding: 0 $padding-global-min;
        }
      }
    }
  }
}
