.reg-popup-wrapper {
  display: none;
  .reg-popup-bg {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #e9e9e9;
    z-index: 10;
    overflow-y: scroll;
    padding: 70px 0;
    transition: opacity 0.3s ease-in-out;
    height: 100%;
    .reg-form-wrapper {
      display: flex;
      justify-content: center;
      .reg-popup {
        padding: 55px 70px;
        border-radius: 10px;
        box-shadow: 0 20px 35px 0 rgba(85, 122, 194, 0.14);
        background-color: #ffffff;
        width: 100%;
        max-width: 592px;
        box-sizing: border-box;
        margin-bottom: 170px;
        .close {
          position: absolute;
          right: 20.5px;
          top: 20.5px;
          width: 15px;
          height: 15px;
          opacity: 0.3;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          left: 10.25px;
          content: ' ';
          height: 15px;
          width: 1px;
          background-color: #333;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
        .main-form {
          text-align: center;
          .form-title {
            font-size: 46px;
            font-weight: 300;
            text-align: center;
            color: #000000;
            margin-bottom: 39.8px;
            display: block;
          }
          .survey-block {
            margin-bottom: 20px;
            .changed:not(.submittable):not(.focused) {
              input {
                border: #E1B3BC 1px solid;
              }
            }
            div br {
              display: none;
            }
            div span {
              display: none;
            }
            div input, div select {
              box-sizing: border-box;
              height: 70px;
              width: 100%;
              border: 1px solid #d8e5eb;
              border-radius: 2px;
              padding-left: 32px;
              background-color: #fff;
              font-weight: 300;
              &::placeholder {
                opacity: 0.7;
              }
            }
            div select {
              appearance: none;
              -webkit-appearance: none;
            }
          }
        }
        .submit-button {
          margin-top: 20px;
          height: 70px;
          width: 100%;
          border-radius: 5px;
          background-color: #f7c918;
          font-family: 'Open Sans';
          font-weight: bold;
          color: #000000;
          border: none;
          transition: box-shadow 0.15s ease-in-out;
          &:disabled {
            background-color: #eaeaea;
          }
        }
        .success-image, .error-image, .success-button, .error-button {
          display: none;
        }
        .success-title, .error-title {
          font-size: 46px;
          font-weight: 300;
          text-align: center;
          color: #000000;
          margin-top: 0;
          margin-bottom: 27.8px;
          display: block;
        }
        .success-subtitle, .error-subtitle {
          font-weight: 300;
          text-align: center;
          text-overflow: inherit;
          text-overflow: ellipsis;
          word-break: break-word;
        }
      }
    }
  }
}
