.top {
  width: 100%;
  height: calc( 1000px + 20vw );;
  background-image: url('../img/top-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  @media screen and (max-width: 1000px) {
    height: 1000px;
  }
  @media screen and (max-width: 600px) {
    height: 800px;
  }
  .wrap {
    display: inline-flex;
    width: 100%;
    .left {
      width: 50%;
      padding-top:50px;
      padding-left: $padding-global;
      @media screen and (max-width: 1000px) {
        display: none;
      }
      .img {
        width: calc( 100% + 200px );
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;
        height:876px;
        transform: translate3d(-164px,-60px,0);
        background-image: url('../img/m_letter.png');
        -webkit-background-size: cover;
      }
    }
    .right {
      padding-right: $padding-global;
      flex: 0 0 450px;
      box-sizing: border-box;
      padding-left:110px;
      @media screen and (max-width: 1000px) {
        flex: initial;
        width: 100%;
        padding-left: $padding-global;
      }
      @media screen and (max-width: 600px) {
        padding-left: $padding-global-min;
        padding-right: $padding-global-min;
      }
      .sub-head {
        font-size: 30px;
        font-weight: 300;
        line-height: 2.17;
        color: #7a8a91;
        display: inline-block;
        width: 100%;
        margin-top:187px;
        @media screen and (max-width: 600px) {
          margin-top: 70px;
          font-size: 26px;
        }
      }
      .head {
        font-size: 82px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        line-height: 0.79;
        color: #212d32;
        @media screen and (max-width: 600px) {
          font-size: 55px;
        }
      }
      .desc {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        color: #212d32;
        display: inline-block;
        width: 100%;
        margin-top: 36px;
        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }
      .btn {
        width: 380px;
        height: 104px;
        border-radius: 5px;
        box-shadow: 0 14px 50px 0 rgba(255, 101, 0, 0.2);
        background-color: #f7c918;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 40px;
        transition: box-shadow 0.15s ease-in-out;
        &:hover {
          box-shadow: none;
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        .text {
          display: inline-block;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          padding-left: 40px;
          &:before {
            content: '';
            display: inline-block;
            width: 31px;
            height:28px;
            background-image: url('../img/check-square.png');
            -webkit-background-size: cover;
            background-size: cover;
            position: absolute;
            left: -20px;
            top:50%;
            transform: translate3d(0,-50%,0);

          }
        }
      }
    }
  }
}
