$padding-global: 70px;
$padding-global-min: 30px;

body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f8f9;
  &.noscroll {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
body {
  overflow-x: hidden;
}
.wrap {
  width: 100%;
  max-width: 1180px;
  display: inline-block;
  text-align: left;
}

.block-head {
  width: 100%;
  display: inline-block;
  .num {
    font-size: 60px;
    font-weight: 300;
    color: #5a88e1;
    display: inline-block;
    vertical-align: top;
    margin-right:34px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .text {
    font-size: 60px;
    font-weight: 300;
    color: #141619;
    display: inline-block;
    vertical-align: top;
  }
}
