body {
  font-family: Roboto;
  margin: 0;
}
.main-page {
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  display: flex;
  background-color: #e8e8e8;
}
.survey-block {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin-bottom: 36px;
  padding: 20px 0px 60px 0;
  width: 800px;
  max-width: 100vw;
  display: block;
  background-color: white;
}
.checkbox-block, .radio-block, .textbox-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.checkbox-title, .radio-title, .textbox-title, .error-subtitle, .success-subtitle {
  padding: 30px 80px;
  font-size: 20px;
  font-weight: 700;
}
.error-subtitle, .success-subtitle {
  padding: 0;
  color: white;
  font-weight: 300;
  margin-bottom: 40px;
}
.checkbox-text, .radio-label {
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
  padding-right: 20px;
  position: relative;
  font-weight: 300;
}
.checkbox-text:before {
  content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
    background-color: #e8e8e8;
    border-radius: 4px;
    background-position: 50%;
    background-repeat: no-repeat;
}
.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}
.checkbox-item input:checked+span::before{
  background-image: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/227033e74b2466e87c9df53c1221e1f7.svg');
  background-color: #cc5a51;
}
.checkbox-item {
  padding: 15px 80px;
}
.radio-button-block {
  padding: 20px 80px;
}
.radio-label:before {
  content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0,-50%,0);
    background-color: #e8e8e8;
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.radio-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}
.radio-button-block input:checked+label::before{
  background-color: #cc5a51;
}
.radio-button-block input:checked+label::after{
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translate3d(0,-50%,0);
  background-color: white;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.textbox-answer {
  display: inline-block;
  padding-left: 80px;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  font-weight: 200;
}
.textbox-input-wrap {
  padding: 0px 80px;
  margin-bottom: 20px;
}
.textbox-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 45.9943px;
  max-width: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 300;
  background-color: white;
  resize: none !important;
}
*:focus {
    outline: none;
}
.submit-button, .error-button, .success-button {
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-bottom: 80px;
  padding: 22px 50px;
  font-weight: 300;
  border: 0;
  background-color: rgba(204, 90, 81, 0.5);
}
.submit-button.active, .error-button, .success-button {
  background-color: #cc5a51;
  box-shadow: 0px 18px 26px rgba(204, 89, 81, 0.2);
}
.error-button, .success-button {
  background-color: white;
  color: #cc5a51;
}
.main-form {
  align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    display: flex;
}
.form-title, .error-title, .success-title {
  font-size: 45px;
  color: black;
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: 900;
  text-align: center;
}
.error-title, .success-title {
  color: #ffffff;
  margin: 0;
}
.form-img {
  max-width: 200px;
    width: auto;
    margin-top: 70px;
    height: auto;
}
.popup-fullscreen {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: #db424a;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.success-image {
  width: 75px;
  margin-bottom: 45px;
}

.fade-in-enter-active, .fade-in-leave-active {
  transition: opacity .5s;
}
.fade-in-enter, .fade-in-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}